# ==== VPS / server settings ====
# IP/FQDN вашего VPS
# VPS_HOST=1.2.3.4

# Для сервиса Xray/VLESS
XRAY_PORT=443
SERVER_SNI=www.microsoft.com
XRAY_UUID=
XRAY_SHORT_ID=
XRAY_PUBLIC_KEY=
XRAY_PRIVATE_KEY=

# ==== Клиентская конфигурация ====
# Используйте те же параметры XRAY_* что и на сервере
WHITELIST_URL=https://raw.githubusercontent.com/kulikov0/whitelist-bypass/main/whitelist.txt
CLIENT_OUTPUT_PATH=./client/config-split.json
